%% -*- mode: erlang -*-
%% ex: ft=erlang ts=2 sw=2 et
{deps, 
 [
  {lager, ".*", 
   {git, "https://github.com/basho/lager.git", {tag, "3.0.0-RC2"}}},
  {stout, ".*", 
   {git, "https://github.com/eproxus/stout.git", {branch, "master"}}},
  {riak_core, ".*",
   {git, "https://github.com/basho/riak_core.git", {branch, "develop"}}},
  {exometer, ".*",
   {git, "https://github.com/Feuerlabs/exometer.git", {tag, "1.2"}}},
  {sync, ".*",
   {git, "https://github.com/rustyio/sync.git", {branch,"master"}}},
  {unite, ".*", 
   {git, "https://github.com/eproxus/unite.git"}}
  % {eunit_formatters, ".*", 
  %  {git, "git://github.com/seancribbs/eunit_formatters", {branch, "master"}}}
 ]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{cover_export_enabled, true}.

{erl_opts, [{parse_transform, lager_transform},
            warn_unused_vars,
            % warn_export_all,
            warn_shadow_vars,
            warn_unused_import,
            warn_unused_function,
            warn_bif_clash,
            warn_unused_record,
            warn_deprecated_function,
            warn_obsolete_guard,
            strict_validation,
            warn_export_vars,
            warn_exported_vars,
            % warn_missing_spec,
            warn_untyped_record, debug_info]}.

{dialyzer_opts, [{warnings, [unmatched_returns, error_handling, race_conditions, behaviours]}]}.

{edoc_opts, [{report_missing_types, true}, {source_path, ["src"]}, {report_missing_types, true}, {todo, true}, {packages, false}, {subpackages, false}]}.

{xref_checks, [undefined_function_calls]}.

{erl_first_files,[]}.

{ct_log_dir, "ct_logs"}.

{clean_files, ["test/*.beam","log/*","ct_logs/*"]}.

{eunit_opts, 
 [
  no_tty,  %% This turns off the default output, MUST HAVE
  {report, {unite_compact, []}} %% Use `profile' to see test timing information
  %% Uses the progress formatter with ANSI-colored output
 ]}.
