%% -*- mode: erlang -*-
%% ex: ft=erlang ts=2 sw=2 et

[
 {lager, 
  [
   {async, true},
   {handlers, 
    [
     {lager_file_backend, 
      [
       {file, "log/dstwkr.log"},
       {level, debug},
       {formatter, lager_default_formatter},
       {formatter_config, []}
      ]},
     {lager_console_backend, 
      [debug, {stout, [{time, yellow}," ",
                       {severity, [upper, color, {format, "~s"}]}," ",
                       {application, [{format, "(~s) "}, magentab]},
                       message, " ",
                       {pid, cyan}," ",
                       {module,[{format,"~s"},blackb]},
                       {line,[{format,":~b"},blackb]},
                       "\n"]}]}
      % [debug, {lager_default_formatter, 
      %          [time, " ", color, "[", severity,"] ",pid," ",
      %           {application, ["(",application,") "],""},
      %           {module,[module,":",line," "],""},"| ",message, "\r\n"]}]}
    ]}
  ]},
 {sasl, 
  [
   {sasl_error_logger, false}
  ]},
 {riak_core,
  [
   {cluster_name, "dstwkr"},
   % {platform_data_dir, "data"},
   % {ring_state_dir, "data"},
   {vnode_management_timer, 5000},
   {ring_creation_size, 4}
  ]},
 {exometer,
  [
  ]},
 {sync, 
  [
   % {log, none}
  ]}
].
